* {
    margin: 0px;
    padding: 0px;
    font-family: Mulish;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav  li {
    list-style: none;
}

.title {
    display: flex;
    align-items: center;

}

.logo {
    padding-right: 10px;
}

li a {
    text-decoration: none;
}

.navbar  ul {
    display: flex;
}

.navbar  li {
    padding: 44px;
}

span {
    color: orangered;
}

.banner {

    height: 518px;
}

.banner-img {
    margin-left: 10%;
    border-radius: 20px;


}

.banner-desc {
    color: white;
    width: 600px;
    padding-left: 30%;
    text-align: justify;
    padding-top: 40px;
}

.banner-search-bg {
    height: 90px;
    width: 820px;
    margin-top: 5%;
    margin-left: 22%;
    align-items: center;
    display: inline-flex;
    background-color: rgba(224, 231, 231, 0.336);
    justify-content: center;
    border-radius: 8px;

}

.banner-search {

    display: flex;
    gap: 24px;

}

.itype {
    height: 50px;
    width: 170px;
    border: 0px;
    border-radius: 10px;
}

.itypee {
    height: 50px;
    width: 170px;
    border: 0px;
    border-radius: 10px;
    color: rgb(129, 126, 126);
}

.itypeee {
    height: 50px;
    width: 170px;
    border: 0px;
    border-radius: 10px;
}

.popular-tour{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px 10%;
}

.conainer-one{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding: 0px 10%;
    gap: 20px;
}

.container-two{
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;
    gap: 40px;
    padding: 0px 10%;
    padding-top: 40px;
}

.container-three{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    padding: 0px 10%;
    gap: 65px;
    padding-top: 45px;
    margin-top: 100px;
}

.up-coming{
    margin-top: 200px;
    text-align: center;
   
}

.upcoming-pic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 70%;
    padding-left: 9%;
    margin-top: 30px;
}

.container-four{
    display: flex;
    padding: 0px 9%;
    gap: 20px;
    margin-top: 20px;
}

.container-five{
    background-color: rgba(251, 181, 99, 0.05);
    height: 160px;
    border-radius: 10px;
    padding: 20px;
    
}

.container-six{
    background-color: rgba(41, 206, 246, 0.05);
    height: 160px;
    border-radius: 10px;
    padding: 20px;
}

.container-seven{

    background-color: rgba(251, 181, 99, 0.05);
    height: 160px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    height: 160px;
    width: 40%;
    margin-left: 30% ;
    }

    .deal{
        text-align: center;
        margin-top: 40px;
    }
    .dealnav{
        
    }
    .dealnav ul{
        display: flex;
        gap: 30px;
        justify-content: center;
        

    }
    .dealnav li{
        list-style: none;
        
        
    }